<style>
    #routenAbfolge {
        padding: 10px;
    }
    .tag {
        margin: 20px;
        padding: 20px;
    }
    .eintrag {
        border-bottom: 1px solid #E1E1E1;
        padding: 10px;
    }
    .eintrag p {
        margin: 0px;
    }

    h1 {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
    }

</style>

<div id="routenAbfolge">
    <h1>Route</h1>
    <!--div, wo jegliche Fehlermeldungen, die während den Berechnungen aufgetreten sind dem Benutzer in angebrachter weise erklärt werden-->
    <div class="warnungen" ng-bind-html="$ctrl.warnungen"></div>

    <div ng-show="$ctrl.noRoute">
        <!--Situatilon: keine Route wurde berechnet, weil es zu viele BP sind-->
        <div ng-show="$ctrl.tooManyBP">
            <h3>Zu viele Besichtigungspunkt!</h3>
            <p>Es ist nicht möglich all ihre Besichtigungspunkte, in Ihrem Zeitraum zu besichtigen.</p>
            <p>Gehen Sie zurück zur Übersicht und
                <ul>
                    <li>vergrößern den Zeitraum (Anzahl der Stunden) oder</li>
                    <li>entfernen min 1 Besichtigungspunkt</li>
                </ul>
                Anschließend können Sie erneut versuchen Routen auszurechnen.
            </p>
            <md-button class="md-raised md-primary" ng-click="$ctrl.zuUebersicht()">Zurück zur Übersicht</md-button>
        </div>

        <!--Situation: es wurde versucht eine Route zu berechnen, aber die Wege zu allen BP sind zu lang-->
        <div ng-hide="$ctrl.tooManyBP">
            <h3>Besichtigungspunkte zu weit entfernt!</h3>
            <p>Jeder Ihrer Besichtigungspunkte ist so weit von Ihrem Hotel entfernt, dass es sich nicht ausgeht in der Zeitspanne eines Tages
                dorthin und wieder zurück zu fahren!
            </p>

        </div>
    </div>

    <md-whiteframe class="md-whiteframe-3dp tag" layout="column" ng-show="$ctrl.oneDayRoute">
        <h2>Tag 1</h2>
        <div class="eintrag">
            <p> {{$ctrl.start.strasse}} {{$ctrl.start.hausnr}} </p>
        </div>
        <div ng-repeat="bp in $ctrl.zwischenAry track by $index" class="eintrag">
            <p>{{bp.strasse}} {{bp.hausnr}} </p>
        </div>
        <div class="eintrag">
            <p>{{$ctrl.start.strasse}} {{$ctrl.start.hausnr}} </p>
        </div>
    </md-whiteframe>

    <md-whiteframe ng-repeat="tag in $ctrl.ergebnis track by $index" class="md-whiteframe-3dp tag" layout="column" ng-show="$ctrl.manyDaysRoute">
        <h2>Tag {{$index + 1}}</h2>
        <div class="eintrag">
            <p> {{$ctrl.start.strasse}} {{$ctrl.start.hausnr}} </p>
        </div>
        <div ng-repeat="bp in $ctrl.ergebnis[$index] track by $index" class="eintrag">
            <p>{{bp.strasse}} {{bp.hausnr}}</p>
        </div>
        <div class="eintrag">
            <p> {{$ctrl.start.strasse}} {{$ctrl.start.hausnr}} </p>
        </div>
    </md-whiteframe>
</div>