<div layout="column" style="height:100vh;">
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="center center" style="background-color:#176CBE; ">
            <h2 md-truncate style="font-family: 'Segoe UI'; font-size: 20px;">TravelApp</h2>
        </div>
    </md-toolbar>

    <p ng-repeat="i in $ctrl.route.waypoints track by $index">
        {{i.strasse}} {{i.hausnr}} <br>
        {{i.plz}}, {{i.ort}}

        <md-button ui-sref="address({id: $ctrl.id ,waypointId: $index, editorState: true})"
                   class="md-primary md-raised">Change</md-button>
        <md-button ng-click="$ctrl.delete($index)"
                   class="md-primary md-raised">Delete</md-button>
        <input type="radio" name="startWaypoint" ng-model="$ctrl.auswahl" ng-value="$index">
    </p>

    {{$ctrl.route.minuten  | date: "shortTime" : "UTC"}}

    <md-button ng-click="$ctrl.nextStep()"
               class="md-primary md-raised">Next Step</md-button>
</div>