<style>
    .container {
        height: 100vh;
    }

    h2 {
        font-family: 'Segoe UI';
        font-size: 25px;
    }

    #header-container {
        font-family: "Segoe UI";
        font-size: 20px;
        text-align: center;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid black;
        width: 100%;

    }

    .date-width {
        width: 97%;
    }

    .time-width {
        width: 90%;

    }

    .input-time {
        width: 80%;
        background-color: #E1E1E1;
        border-radius: 10px;
        padding: 0px 20px 0px 20px;
        margin: 20px 10px 5px 10px;
    }

    .label-padding {
        padding: 10px 0px 0px 20px;
    }

    .von-bis {
        font-size: 12px;
        padding-bottom: 20px;
    }
    #abstand{
        margin-bottom:30px;
    }
</style>

<div layout="column" class="container">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout-align="center center">
            <h2>TravelApp</h2>
        </div>
    </md-toolbar>

    <div id="header-container">
        Zeitraum
    </div>
    <!--TODO: ng-messages ?!-->

    <md-content class="container" layout="column">
        <div class="date-width" layout-margin>


            <form name="$ctrl.formular" layout="column">
                <!--<md-content class="container" layout-margin layout="column" layout-align=" start">-->
                <p class="">Datum:</p>
                <!--<div>-->
                <!--<h4>Startdatum</h4>-->
                <!--<md-datepicker ng-model="$ctrl.startDate" ng-change="$ctrl.compareDate()" md-min-date="$ctrl.minDate1"></md-datepicker>-->
                <!--</div>-->
                <!--&gt;>>>>>> 3bedc2b0140003fdd2bb74a275c88afeb969af1d-->
                <div layout-margin>
                    <p class="von-bis">Von: </p>
                    <md-datepicker ng-model="$ctrl.startDate" ng-change="$ctrl.compareDate()"
                                   md-min-date="$ctrl.minDate1"></md-datepicker>
                </div>

                <div class="date-width" layout-margin>
                    <div>
                        <p class="von-bis">Bis:</p>
                        <md-datepicker id="datepick" ng-model="$ctrl.endDate"
                                       md-min-date="$ctrl.minDate2"></md-datepicker>
                    </div>
                </div>
                <div class="time-width" id="abstand">
                    <p class="head-zeit-datum">Zeit:</p>

                    <md-input-container class="input-time">
                        <label class="label-padding">Anfangszeit</label>
                        <input
                                type="time"
                               ng-model="$ctrl.anfang"
                               placeholder="HH:mm:ss"
                               min="00:00:00"
                               max="24:00:00"
                               ng-change="$ctrl.berechneDauer()"
                               name="startDate"
                               required/>

                        <div ng-messages="$ctrl.formular.startDate.$error">
                            <div ng-message="required">Sie müssen eine Dauer angeben!</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="time-width">
                    <md-input-container class="input-time">
                        <label class="label-padding">Endzeit</label>

                        <input type="time"
                               ng-model="$ctrl.ende"
                               placeholder="HH:mm:ss"
                               min="{{$ctrl.start | date: 'shortTime' : 'UTC'}}:00"
                               max="24:00:00"
                               ng-change="$ctrl.berechneDauer()"
                               name="endDate"
                               required>
                        <div ng-messages="$ctrl.formular.endDate.$error">
                            <div ng-message="required">Sie müssen eine Dauer angeben!</div>
                            <div ng-hide="!$ctrl.disableButton">Die Endzeit darf nicht vor der Anfangszeit sein!
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    {{ $ctrl.timeError }}
                </div>
            </form>
        </div>
    </md-content>
    <section layout="row" layout-align="end end" layout-wrap>
        <md-button flex="30"
                   class="md-raised md-primary"
                   ng-disabled="$ctrl.disableButton"
                   ng-show="$ctrl.editorState"
                   ng-click="$ctrl.toUebersicht()">Übersicht
        </md-button>

        <md-button flex="30"
                   class="md-raised md-primary"
                   ng-disabled="$ctrl.disableButton"
                   ng-hide="$ctrl.editorState"
                   ng-click="$ctrl.route()">neue Adresse
        </md-button>
    </section>
</div>